
  .custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    /* border: 2px solid #fff; */
    box-shadow: 0px 5px 5px rgb(255,255,255) inset ;
    z-index: 2;
    border-radius: 50%;
    background-color: transparent;
    mix-blend-mode: difference; 
    pointer-events: none; 
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
  }