@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

*{
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  
}
body {
  background-color: black !important;
}
.nav-link{
  -webkit-transition: background 1000ms linear;
  -ms-transition: background 1000ms linear;
  transition: background 1000ms linear !important;
}
.nav-link:hover 
{
  background: rgb(131,58,180);
  background-color: aqua;
background: linear-gradient(333deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

border-radius: 50px;
}
nav {

  background: transparent;
  margin-top: 5px;
 z-index:1;

}

nav div a {
  color: #fff !important;
}

nav div a span {
  color: #fff !important;
}

#h-img {
  height: 100vh;
  position: relative;

}

#h-img img {
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%)
}

.w-7 {
  width: 70%;
  font-size: 16px;
}
.w-7 h1{
  font-size: 30px;
}
.w-7 h3{
  color: #fff;
   margin-top: 10px;
}
.w-7 h3 i{
  padding-left: 5px;
}

#logo {

  font-size: 25px;
  letter-spacing: 10px;
  animation: animelogo 5s normal;
  padding-left: 20px !important;

}

@keyframes animelogo {
  0% {
    letter-spacing: 0px;
  }

  100% {
    letter-spacing: 10px;
  }

}

.nav-item a {
  font-size: 18px;

}

.nav-item :hover {
  
  color: #000 !important;
  border-radius: 5px;
}
.main_hero{
  height: 1700vh;
  width: 100%;
  background: linear-gradient(#000,#757575ac);
}

.hfull {

  height: 100vh !important;
  overflow: hidden;
}
/* main section */
/* .main
{
  height: 100vh;
  width: 100%;
} */
.main_conatiner{
  height: 100vh;
  width: 100%;
}
.sun{
  position: relative;
  /* width: 100px; */
  /* height: 100vh; */
  /* background-color: #0ff; */
}
:root{
  --violet: violet;
  --blue: #0ff;
} 
.sun::before{
  content: "";
  position: absolute;
  top: -250px;
  left: -120px;
  /* transform: translateY(-40%,-0%); */
  /* display: block; */
  animation:spin 4s linear infinite;
  background-blend-mode: color;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 140px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px var(--violet),
        inset -20px 0 60px var(--blue),
        inset 20px 0 300px var(--violet),
        inset -20px 0 300px var(--blue),
          0 0 50px #fff,
          -10px 0 60px   var(--violet),
          10px 0 60px var(--blue);
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* footer */
footer{
  position: relative;
  width: 100%;
  background-color: rgba(233, 233, 233, 1);
  height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
footer .logo{
  position: absolute;
  left: 20px;
  top: 18px;
  color: #000;
  font-size: 25px;
  letter-spacing: 10px;
  animation: animelogo 5s normal;
}
footer > .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer > .social_icon{
  list-style: none;
}
footer > .social_icon > li > a{
  font-size: 2em;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transform: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);

}

ion-icon{
  color: #000;
}


footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px; 
  background:url(wave2.png);
  background-size: 1000px 200px;
 
}


footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animewave 4s linear infinite;
}


footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animewaveee 4s linear infinite;
}



footer .wave#wave3{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animewave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animewaveee 3s linear infinite;
}


@keyframes animewave 
{
     0%{
        background-position-x: 1000px;
      }
    100%{
       background-position-x: 0px;

      }
}
@keyframes animewaveee
{
     0%{
        background-position-x: 0px;
      }
    100%{
       background-position-x: 1000px;

      }
}



@media only screen and (max-width: 500px) {
  .arage{
    display: none;
  }
  #h-img {
    position: relative !important;
    height: 40vh;
  }

  #h-img img {
    height: 200px;
    left: 50%;

  }
  footer > .social_icon{
    bottom: -30px;
  }
   #h-img img {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-80%, -50%)
  }
} 
